#sidebar-first .block.red-class {
  background-color: #FF4444;
}

#sidebar-first .block.yellow-class {
  background-color: #FF44FF;
}

#sidebar-first .block.blue-class {
  background-color: #4444FF;
}
